[Desktop Entry]
Name=FreeCad
GenericName=3D modeler
Comment=General purpose 3D CAD modeler
Keywords=3d;modeling;
Exec=freecad
Icon=freecad
Terminal=false
Type=Application
Categories=Application;Graphics;3DGraphics;
MimeType=application/x-extension-fcstd;model/stl;model/vrml;
